@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.container {
  position: relative;

}

.circle-container {
  width: 1430px;
  height: 1430px;
  background-color: #057CD8;
  border-radius: 50%;
  position: absolute;
  top: -520px;
  left: 230px;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 1.5s ease-in-out;
}

.circle-container.move-center {
  width: 100px;
  height: 100px;
  top: 700px;
  left: 1100px;
  transform: translate(-50%, -50%);
}

.circle-container.move-expanded {
  width: 1430px;
  height: 1430px;
  top: 900px;
  left: 1800px;
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 20px;
  left: 120px;
  color: white;
  font-size: 105px;
  top: 180px;
}

.title-two {
  position: relative;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 15px;
  color: white;
  left: 120px;
  font-size: 105px;
  top: 270px;
}

.button {
  position: relative;
  background-color: #280A51;
  width: 450px;
  height: 110px;
  border-radius: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 690px;
  top: -350px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #6A0DAD;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.button.shrink {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.button.shrink p,
.button.shrink .arrow-img {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s, transform 0.5s ease-in-out;
}

p {
  position: relative;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 39px;
  left: -50px;
  top: 5px;
}

.arrow-img {
  position: relative;
  left: 50px;
}

.illustre-img {
  position: relative;
  width: 600px;
  height: 600px;
  left: 1320px;
  top: 90px;
  animation: float 3s ease-in-out infinite;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.illustre-img.fade-out {
  opacity: 0;
  transform: translateX(100vw);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
