.container {
  position: relative;
}

.circle-container {
  width: 1430px;
  height: 1430px;
  background-color: #057CD8;
  border-radius: 50%;
  position: absolute;
  top: -520px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1.5s ease-in-out;
  z-index: 1;
}

.circle-container.move-center {
  width: 100px;
  height: 100px;
  top: 700px;
}

.circle-container.move-expanded {
  width: 1430px;
  height: 1430px;
  top: 900px;
  left: 1800px;
}

.title, .title-two {
  position: relative;
  font-family: "Roboto", serif;
  font-weight: 700;
  color: white;
  z-index: 1;
  transition: opacity 1.5s ease-out, transform 1.3s ease-in-out;
}

.title {
  font-size: 105px;
  letter-spacing: 20px;
  top: 180px;
}

.title-two {
  font-size: 105px;
  letter-spacing: 15px;
  top: 270px;
}

.title.fade-out, .title-two.fade-out, .circle-container.fade-out {
  opacity: 0;
  transform: translateY(-30px);
  z-index: 0;
}

.illustre-img {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 90px;
  left: 1320px;
  animation: float 3s ease-in-out infinite;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.illustre-img.fade-out {
  opacity: 0;
  transform: translateX(100vw);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.app-task {
  opacity: 0;
  transform: translateX(100%) translateY(50%);
  transition: opacity 50s ease, transform 50s ease;
}

.app-task.visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}
