<div class="table-container" (scroll)="onScroll($event)">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Max date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedRows">
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td class="amount">{{ row.cost | currency: 'BRL' }}</td>
        <td>
          <p class="status" [ngClass]="getStatusClass(row.status)">
            {{ row.status }}
          </p>
        </td>
        <td>
          <button class="edit-btn">Edit</button>
          <button class="delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
