<app-input-search (searchChanged)="onSearchTextChanged($event)"></app-input-search>

<app-input-switch (change)="toggleSort($event)"></app-input-switch>

<table cdkDropList (cdkDropListDropped)="drop($event)">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome da tarefa</th>
      <th>Valor</th>
      <th>Data máxima</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredTasks" cdkDrag [cdkDragData]="item">
      <td><a href="#">{{ item.id }}</a></td>
      <td>{{ item.tarefaNome }}</td>
      <td [ngClass]="{'highlight': item.valor >= 1000}">{{ item.valor | currency: 'BRL' : 'symbol' : '1.0-0' }}</td>
      <td>{{ item.dataMaxima }}</td>
      <td class="d-flex gap-3">
        <div class="button-container" style="display: flex;">
          <app-button-edit (click)="openEditModal(item)">Editar</app-button-edit>
          <app-button (click)="openDeleteModal(item)">Excluir</app-button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-edit-task
  [task]="selectedTask"
  [isVisible]="isEditModalVisible"
  (closeModal)="closeEditModal()">
</app-modal-edit-task>

<!-- Modal de Confirmação de Exclusão -->
<div *ngIf="isDeleteModalVisible" class="confirmation-modal">
  <div class="modal-content">
    <h3>Deseja realmente excluir esta tarefa?</h3>
    <div class="modal-buttons">
      <app-button (click)="deleteTask(selectedTask)">Sim</app-button>
      <app-button-deafult (click)="closeDeleteModal()" >Não</app-button-deafult>
    </div>
  </div>
</div>
