@import '../../../../styles.scss'; // Caminho relativo desde a raiz do projeto

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

table {
  position: fixed;
  width: 100%;
  left: 130px;
  top: 345px;
  border-collapse: collapse;
  box-shadow: 0 5px 10px $clr-gray300;
  background-color: white;
  max-width: 800px;
  max-height: 1000px;
  margin: 20px 0;
  overflow-y: auto;
  
  thead {
    position: sticky; top: 0; z-index: 1; background-color: white;
  }

  th, td {
    padding: 1rem 2rem;
    text-align: center;
  }

  th { text-transform: uppercase; letter-spacing: 0.1rem; font-size: 0.7rem; font-weight: 900; }
  td a { text-decoration: none; color: $clr-link; }
  tr:nth-child(even) { background-color: $clr-gray150; }
  .highlight { color: red; }

  tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
  }

  tr { display: table; width: 100%; table-layout: fixed; }
}

// Botões

app-button-edit{
  position: relative;
  left: -40px;
}
app-button{
  position: relative;
  left: -35px;
}

app-button-deafult{
  position: relative;
  left: 40px;
}



// Modal de Confirmação
.confirmation-modal {
  position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); padding: 100%; border-radius: 10px; z-index: 1000;
  display: flex; justify-content: center; align-items: center;
}

.modal-content {
  background-color: #fff; padding: 20px; width: 250px; border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); text-align: center;
}

// Estilos para o item sendo arrastado
cdk-drag-preview, cdk-drag-placeholder {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 138, 240, 0.2);
}

cdk-drag-preview {
  background-color: #fff;
  border: 2px solid $clr-primary;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  z-index: 1000;
}

cdk-drag-placeholder {
  opacity: 0.5;
  background-color: #f0f9ff;
}

cdk-drop {
  transition: background-color 0.3s ease;
  &:active { background-color: #eaf5ff; }
}

tr.cdk-drag {
  cursor: grab;
  transition: transform 0.2s ease;
}

tr.cdk-drag-dragging { transform: scale(1.02); }
