<div class="modal" [ngClass]="{'show': isVisible}">
  <div class="modal-content">
    <span class="close" (click)="onClose()">×</span>
    <h2 class="modal-title">Cadastrar sua tarefa</h2>
    <form #taskForm="ngForm" (ngSubmit)="createTask(taskForm)" novalidate>
      <!-- Nome da tarefa -->
      <div>
        <label for="taskDescription">Nome da tarefa:</label>
        <input
          type="text"
          id="taskDescription"
          class="input-task"
          [(ngModel)]="task"
          name="task"
          required
        />
        <div *ngIf="task && task.trim().length === 0" class="error-message">
          Nome da tarefa é obrigatório
        </div>
      </div>

      <!-- Valor -->
      <div>
        <label for="amount">Valor:</label>
        <input
          type="number"
          id="amount"
          class="input-task"
          [(ngModel)]="cost"
          name="cost"
          required
          #costField="ngModel"
        />
        <div *ngIf="costField.invalid && costField.touched" class="error-message">
          Valor é obrigatório
        </div>
      </div>

      <!-- Data -->
      <div>
        <label for="dueDate">Informe a data:</label>
        <input
          type="date"
          id="dueDate"
          class="input-task"
          [(ngModel)]="dueDate"
          name="dueDate"
          required
          #dueDateField="ngModel"
        />
        <div *ngIf="dueDateField.invalid && dueDateField.touched" class="error-message">
          A data é obrigatória
        </div>
      </div>

      <!-- Botão de salvar -->
      <button class="btn-add" type="submit" [disabled]="taskForm.invalid">Salvar</button>
    </form>
  </div>
</div>
